.dashboard {
    border: 1px solid #3b3b3b;
    padding: 10px 20px;
    text-align: left;

    &_top {
        display: flex;
        align-items: center;
        gap: 20px;
        margin-bottom: 20px;
    }
    
    &_img {
        width: 120px;
        border-radius: 100px;
    }

    &_heading {
        font-size: 18px;
        font-weight: 400;
        font-family: "Poppins", sans-serif;
        margin-bottom: 20px;
    }

    &_text {
        font-family: "Poppins", sans-serif;
        color: #757575;
        font-size: 17px;
        font-weight: 500;
        margin-top: -10px;
    }

    &_tr {
        display: flex;
        flex-direction: row;
    }
}