.sidebar {
    margin: 50px 0px;

    &_container {
        display: flex;
    }

    &_left {
        text-align-last: left;
    }

    &_heading {
        text-align-last: left;
        padding-bottom: 15px;
        font-size: 17px;
        font-weight: 400;
        text-transform: uppercase;
        letter-spacing: 2px;
    }

    &_select {
        padding: 5px 15px;
        outline: none;
        font-size: 14px;
        font-weight: 400;
        letter-spacing: 2px;
        margin-bottom: 50px;
    }

    &_item {
        background-color: none;
        outline: none;
    }
}
