.link {
    padding-bottom: 50px;

    &_container {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 40px;
    }

    &_item {
        background: none;
        outline: none;
        border: none;
        text-transform: uppercase;    
        color: #333;
        font-size: 14px;
        font-weight: 400;
        cursor: pointer;
    }

    &_tool {
        padding: 25px 20px;
        background-color: #fff;
    }

    &_link {
        color: #222;
        font-size: 12px;
        border: 1px solid transparent;
        display: block;
        padding: 8px 16px;
        letter-spacing: 0.5px;
        text-transform: uppercase;
        transition: .3s all;
        font-family: "Poppins", sans-serif;;

        &:hover {
            background-color: #000;
            color: #fff;
        }
    }

    &_text {
        display: block;
        padding: 10px 15px;
        font-size: 12px;
        line-height: 1.42857143;
        color: #777;
        text-transform: capitalize;
        border-bottom: 1px solid #777;
        font-family: "Poppins", sans-serif;;
    }

    &_list {
        display: flex;
        justify-content: center;
        gap: 10px;
    }
    
}
